[Desktop Entry]
Name=pgAdmin 4
Exec=/home/user/apps/pgadmin4/pgAdmin4.sh
Icon=/home/user/apps/pgadmin4/pgadmin.svg
Type=Application
Categories=Database;
Terminal=false

