<div class="right-side">
    <a href="/pages/resume/" class="resume">
        View my resume
    </a>
    <div class="contacts-holder">
        <span class="email">
            <i class="icon-envelope"></i>
            <span>kia.hosseini7+offer@gmail.com</span>
        </span>
        <br />
        <span class="phone">
            <i class="icon-phone"></i>
            <span>(+98) 919 127 84 27</span>
        </span>
        <br />
        <span class="location">
            <i class="icon-location"></i>
            <span>Tehran / Iran</span>
        </span>
    </div>
</div>
